<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.web>
      <compilation defaultLanguage="c#">
        <assemblies>
          <add assembly="IISxpressAPI, Version=2.0.1.10, Culture=Neutral, PublicKeyToken=847874e6388f783b"/>
        </assemblies>
      </compilation>
    </system.web>
</configuration>